apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: bootstrap
spec:
  generators:
    - git:
        repoURL: 'https://github.com/myles-coleman/k3s-ansible.git'
        revision: HEAD
        directories:
          - path: 'manifests/*'
  template:
    metadata:
      name: '{{ "{{" }}path.basename{{ "}}" }}'
    spec:
      project: default
      source:
        repoURL: 'https://github.com/myles-coleman/k3s-ansible.git'
        targetRevision: HEAD
        path: "manifests/{{ "{{" }}path.basename{{ "}}" }}"
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '{{ "{{" }}path.basename{{ "}}" }}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
